extends layout

block content
    div(class='users-div')
        h2 Users Page
        table
            tr
                th ID
                th Name
                th Email
                th Age
            each user in users
                tr.tableRow
                    td #{user.id}
                    td #{user.username}
                    td #{user.email}
                    td #{user.age}
        a(class='edit-btn', href='/editUsers') Edit